* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form input {
    padding: 5px;
    text-align: center;
}


.mesa-espera {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.mesas-disponibles {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.div-mesa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.mesas-disponibles p{
    margin: 5px;
}

.btn-listo {
    width: 100px;
    height: 30px;
}

.div-jugador {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
}