@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Merriweather", serif;
}